ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
HttpsRedirection__Enabled=false
ConnectionStrings__GuardLanDb=Host=database;Port=5432;Database=guardlan;Username=guardlan;Password=guardlan
POSTGRES_DB=guardlan
POSTGRES_USER=guardlan
POSTGRES_PASSWORD=guardlan
POSTGRES_HOST_PORT=5432
API_HOST_PORT=5232
UI_HOST_PORT=4200
LiveUpdates__SignalR__Enabled=true
LiveUpdates__SignalR__HubUrl=http://api:8080/hubs/guardlan
